*.[ao]
*.dat
.deps/
*.l[ao]
*.log
*.pyc
*.pvd
*.pvtu
*.so
*.vtu
config.status
!/tests/*/Makefile
/bin
/femtools/Reference_count_[a-z]*.F90
/include/*.mod
/include/Wm4*.h
/include/Judy.h
/include/confdefs.h
/include/config.h
/include/spatialindex/
/include/spud*
/include/tiny*
/include/version.h
/include/vtk.h
/lib
/libjudy
/libspud
/libvtkfortran
/python/evtk/cevtk.c
/python/firedrake/core_types.c
/python/firedrake_docs/build/
/python/firedrake_docs/source/firedrake.rst
/python/firedrake_docs/source/obtaining_pyop2.rst
/spatialindex-1.8.0
/tools/version-info
