Julian Andrej <juan@tf.uni-kiel.de> <juan42@users.noreply.github.com>
Gheorghe-Teodor Bercea <gb308@doc.ic.ac.uk> <foraker.doc.ic.ac.uk>
Henrik Buesing <hbuesing@eonerc.rwth-aachen.de> <hb111949@cluster-x2.rz.RWTH-Aachen.DE>
Justin Chang <jychang48@gmail.com>
Colin Cotter <colin.cotter@imperial.ac.uk> <colin.cotter@ic.ac.uk>
Colin Cotter <colin.cotter@imperial.ac.uk>
Patrick Farrell <patrick@pefarrell.org> <patrick.farrell@maths.ox.ac.uk>
Patrick Farrell <patrick@pefarrell.org> <patrick.farrell@imperial.ac.uk>
Thomas Gibson <t.gibson15@imperial.ac.uk>
Tim Greaves <tim.greaves@imperial.ac.uk> <Tim Greaves tim.greaves@imperial.ac.uk>
Alastair Gregory <alsgregory@aol.com>
David A Ham <david.ham@imperial.ac.uk> <David.Ham@imperial.ac.uk>
David A Ham <david.ham@imperial.ac.uk> <dham@dyn1179-48.wlan.ic.ac.uk>
Christopher Hawkes <ch3915@ic.ac.uk> <chawkesmexico@gmail.com>
Miklós Homolya <m.homolya14@imperial.ac.uk>
Miklós Homolya <m.homolya14@imperial.ac.uk> <miklos.homolya@tum.de>
Christian Jacobs <c.jacobs10@imperial.ac.uk> <ctjacobs@users.noreply.github.com>
Nick Johnson <nick.johnson@ed.ac.uk> <n.johnson@epcc.ed.ac.uk>
Rob Kirby <robert.c.kirby@gmail.com> <robert_kirby@baylor.edu>
Geordie McBain <gdmcbain@gmail.com> <gdmcbain@freeshell.org>
Geordie McBain <gdmcbain@gmail.com> <gdmcbain@protonmail.com>
Andrew McRae <andrew.mcrae@physics.ox.ac.uk> <a.mcrae12@imperial.ac.uk>
Andrew McRae <andrew.mcrae@physics.ox.ac.uk> <dorugeber@users.noreply.github.com>
Andrew McRae <andrew.mcrae@physics.ox.ac.uk> <a.t.t.mcrae@bath.ac.uk>
Lawrence Mitchell <lawrence@wence.uk> <wence@gmx.li>
Lawrence Mitchell <lawrence@wence.uk> <vtdb72@gourd.local>
Lawrence Mitchell <lawrence@wence.uk> <lawrence.mitchell@imperial.ac.uk>
Francis Poulin <fpoulin@uwaterloo.ca>
Hannah Rittich <rittich@math.uni-wuppertal.de>
Tomasz Salwa <mmtjs@leeds.ac.uk>
Dan Shapero <shapero.daniel@gmail.com>
Jemma Shipton <j.shipton@imperial.ac.uk> <jshipton@ma-jshipton.ma.ic.ac.uk>
Tianjiao Sun <tianjiao.sun14@imperial.ac.uk> <tianjiao.sun.2010@gmail.com>
Tianjiao Sun <tianjiao.sun14@imperial.ac.uk> <ts2914@doc-ts2914.lib.ic.ac.uk>
Tianjiao Sun <tianjiao.sun14@imperial.ac.uk> <tj.sun@hotmail.com>
Florian Wechsung <f.wechsung@gmail.com>
Florian Wechsung <f.wechsung@gmail.com> <wechsung@maths.ox.ac.uk>
Reuben W. Nixon-Hill <reuben.nixon-hill10@imperial.ac.uk> <ReubenHill@users.noreply.github.com>
