Julian Andrej <juland1111@gmail.com>
Julian Andrej <juland1111@gmail.com> <juan@tf.uni-kiel.de>
Julian Andrej <juland1111@gmail.com> <juan42@users.noreply.github.com>
Julian Andrej <juland1111@gmail.com> <5412886+jandrej@users.noreply.github.com>

Nicholas Barton <nicholasbarton@gmail.com>
Nicholas Barton <nicholasbarton@gmail.com> <snicholasbarton@gmail.com>

Tom Bendall <thomas.bendall@metoffice.gov.uk> <t.bendall15@imperial.ac.uk>

Gheorghe-Teodor Bercea <gb308@doc.ic.ac.uk> <foraker.doc.ic.ac.uk>

Jack Betteridge <j.betteridge@imperial.ac.uk> <J.D.Betteridge@bath.ac.uk>
Jack Betteridge <j.betteridge@imperial.ac.uk> <43041811+JDBetteridge@users.noreply.github.com>

Nacime Bouziani <nacime.bouziani@gmail.com>

Pablo Brubeck <brubeck@protonmail.com>

Henrik Buesing <hbuesing@eonerc.rwth-aachen.de> <hb111949@cluster-x2.rz.RWTH-Aachen.DE>

Justin Chang <jychang48@gmail.com>

Cyrus Cheng <cyruscycheng21@gmail.com>

Mariana Clare <mc4117@imperial.ac.uk>
Mariana Clare <mc4117@imperial.ac.uk> <31656450+mc4117@users.noreply.github.com>

Colin Cotter <colin.cotter@imperial.ac.uk> <colin.cotter@ic.ac.uk>
Colin Cotter <colin.cotter@imperial.ac.uk>

Patrick Farrell <patrick@pefarrell.org> <patrick.farrell@maths.ox.ac.uk>
Patrick Farrell <patrick@pefarrell.org> <patrick.farrell@imperial.ac.uk>

Thomas Gibson <t.gibson15@imperial.ac.uk>

Tim Greaves <tim.greaves@imperial.ac.uk> <Tim Greaves tim.greaves@imperial.ac.uk>

Alastair Gregory <alsgregory@aol.com>

David A Ham <david.ham@imperial.ac.uk> <David.Ham@imperial.ac.uk>
David A Ham <david.ham@imperial.ac.uk> <dham@dyn1179-48.wlan.ic.ac.uk>

Christopher Hawkes <ch3915@ic.ac.uk> <chawkesmexico@gmail.com>

Miklós Homolya <m.homolya14@imperial.ac.uk>
Miklós Homolya <m.homolya14@imperial.ac.uk> <miklos.homolya@tum.de>

Christian Jacobs <c.jacobs10@imperial.ac.uk> <ctjacobs@users.noreply.github.com>

Nick Johnson <nick.johnson@ed.ac.uk> <n.johnson@epcc.ed.ac.uk>

Matthew Kan <ting.kan19@imperial.ac.uk> <41949797+mkan88@users.noreply.github.com>

Rob Kirby <robert.c.kirby@gmail.com> <robert_kirby@baylor.edu>

Fabian Laakmann <fabianl1908@gmail.com>
Fabian Laakmann <fabianl1908@gmail.com> <fabianlaakmann@Fabians-Air.fritz.box>

Geordie McBain <gdmcbain@gmail.com> <gdmcbain@freeshell.org>
Geordie McBain <gdmcbain@gmail.com> <gdmcbain@protonmail.com>

Andrew McRae <andrew.mcrae@physics.ox.ac.uk> <a.mcrae12@imperial.ac.uk>
Andrew McRae <andrew.mcrae@physics.ox.ac.uk> <dorugeber@users.noreply.github.com>
Andrew McRae <andrew.mcrae@physics.ox.ac.uk> <a.t.t.mcrae@bath.ac.uk>

Lawrence Mitchell <lawrence@wence.uk> <wence@gmx.li>
Lawrence Mitchell <lawrence@wence.uk> <vtdb72@gourd.local>
Lawrence Mitchell <lawrence@wence.uk> <lawrence.mitchell@imperial.ac.uk>

Sebastian Mitusch <s.mitusch@hotmail.com>

Reuben W. Nixon-Hill <reuben.nixon-hill10@imperial.ac.uk> <ReubenHill@users.noreply.github.com>

Alberto Paganini <a.paganini@leicester.ac.uk> <paganini@maths.oc.ac.uk>
Alberto Paganini <a.paganini@leicester.ac.uk> <paganini@maths.ox.ac.uk>


Ioannis Papadopoulos <ioannis.papadopoulos@maths.ox.ac.uk>
Ioannis Papadopoulos <ioannis.papadopoulos@maths.ox.ac.uk> <papadopoulos@maths.ox.ac.uk>
Ioannis Papadopoulos <ioannis.papadopoulos@maths.ox.ac.uk> <44903244+ioannisPApapadopoulos@users.noreply.github.com>

Wei Pan <wei.pan@imperial.ac.uk> <wpan1@ma-wpan1-02.ma.ic.ac.uk>

Francis Poulin <fpoulin@uwaterloo.ca>

Hannah Rittich <rittich@math.uni-wuppertal.de>

Koki Sagiyama <k.sagiyama@imperial.ac.uk>
Koki Sagiyama <k.sagiyama@imperial.ac.uk> <46749170+ksagiyam@users.noreply.github.com>
Koki Sagiyama <k.sagiyama@imperial.ac.uk> <ksagiyam@ma-ksagiyam-2.ma.ic.ac.uk>

Tomasz Salwa <mmtjs@leeds.ac.uk>

Ben Sepanski <ben_sepanski@alumni.baylor.edu>
Ben Sepanski <ben_sepanski@alumni.baylor.edu> <ben_sepanski@baylor.edu>

Dan Shapero <shapero.daniel@gmail.com>

Jemma Shipton <j.shipton@exeter.ac.uk> <jshipton@ic.ac.uk>
Jemma Shipton <j.shipton@exeter.ac.uk> <j.shipton@imperial.ac.uk>
Jemma Shipton <j.shipton@exeter.ac.uk> <jshipton@ma-jshipton.ma.ic.ac.uk>

Tianjiao Sun <me@tjsun.info>
Tianjiao Sun <me@tjsun.info> <tianjiao.sun14@imperial.ac.uk>
Tianjiao Sun <me@tjsun.info> <tj-sun@tj-mac.local>
Tianjiao Sun <me@tjsun.info> <tianjiao.sun.2010@gmail.com>
Tianjiao Sun <me@tjsun.info> <ts2914@doc-ts2914.lib.ic.ac.uk>
Tianjiao Sun <me@tjsun.info> <tj.sun@hotmail.com>

Miguel Salazar de Troya <salazardetroya@gmail.com> <salazardetro1@llnl.gov>

Sophia Vorderwuelbecke <sv2518@ic.ac.uk>
Sophia Vorderwuelbecke <sv2518@ic.ac.uk> <54070354+sv2518@users.noreply.github.com>
Sophia Vorderwuelbecke <sv2518@ic.ac.uk> <sv2518@dyn193-163.dyn.ic.ac.uk>
Sophia Vorderwuelbecke <sv2518@ic.ac.uk> <sv2518@dyn47-217.me.ic.ac.uk>

Florian Wechsung <f.wechsung@gmail.com>
Florian Wechsung <f.wechsung@gmail.com> <wechsung@maths.ox.ac.uk>

Joe Wallwork <j.wallwork16@imperial.ac.uk>


Jingmin Xia <jingmin.xia@maths.ox.ac.uk>
Jingmin Xia <jingmin.xia@maths.ox.ac.uk> <48932582+jingminxia@users.noreply.github.com>

Gheorghe-Teodor Bercea <gb308@doc.ic.ac.uk> <foraker.doc.ic.ac.uk>
George Boutsioukis <gboutsioukis@gmail.com>
David A Ham <david.ham@imperial.ac.uk>
David A Ham <david.ham@imperial.ac.uk> <David.Ham@imperial.ac.uk>
Miklós Homolya <m.homolya14@imperial.ac.uk>
Nicolas Loriant <n.loriant@imperial.ac.uk> <nloriant@dyn1203-109.wlan.ic.ac.uk>
Nicolas Loriant <n.loriant@imperial.ac.uk> <nloriant@dyn1204-105.wlan.ic.ac.uk>
Nicolas Loriant <n.loriant@imperial.ac.uk> <nloriant@dyn1204-122.wlan.ic.ac.uk>
Nicolas Loriant <n.loriant@imperial.ac.uk> <nloriant@dyn1209-122.wlan.ic.ac.uk>
Nicolas Loriant <n.loriant@imperial.ac.uk> <gsigms@gmail.com>
Fabio Luporini <f.luporini12@imperial.ac.uk> <fabilupo@gmail.com>
Graham Markall <graham.markall@continuum.io> <grm08@doc.ic.ac.uk>
Graham Markall <graham.markall@continuum.io> <graham@opengamma.com>
Andrew McRae <a.t.t.mcrae@bath.ac.uk> <a.mcrae12@imperial.ac.uk>
Andrew McRae <a.t.t.mcrae@bath.ac.uk> <dorugeber@users.noreply.github.com>
Lawrence Mitchell <lawrence.mitchell@imperial.ac.uk> <lawrence.mitchell@ed.ac.uk>
Lawrence Mitchell <lawrence.mitchell@imperial.ac.uk> <wence@gmx.li>
Kaho Sato <kahosato93@gmail.com>
Reuben W. Nixon-Hill <reuben.nixon-hill10@imperial.ac.uk> <ReubenHill@users.noreply.github.com>
