Gheorghe-Teodor Bercea <gb308@doc.ic.ac.uk> <foraker.doc.ic.ac.uk>
George Boutsioukis <gboutsioukis@gmail.com>
David A Ham <david.ham@imperial.ac.uk>
David A Ham <david.ham@imperial.ac.uk> <David.Ham@imperial.ac.uk>
Miklós Homolya <m.homolya14@imperial.ac.uk>
Nicolas Loriant <n.loriant@imperial.ac.uk> <nloriant@dyn1203-109.wlan.ic.ac.uk>
Nicolas Loriant <n.loriant@imperial.ac.uk> <nloriant@dyn1204-105.wlan.ic.ac.uk>
Nicolas Loriant <n.loriant@imperial.ac.uk> <nloriant@dyn1204-122.wlan.ic.ac.uk>
Nicolas Loriant <n.loriant@imperial.ac.uk> <nloriant@dyn1209-122.wlan.ic.ac.uk>
Nicolas Loriant <n.loriant@imperial.ac.uk> <gsigms@gmail.com>
Fabio Luporini <f.luporini12@imperial.ac.uk> <fabilupo@gmail.com>
Graham Markall <graham.markall@continuum.io> <grm08@doc.ic.ac.uk>
Graham Markall <graham.markall@continuum.io> <graham@opengamma.com>
Andrew McRae <a.t.t.mcrae@bath.ac.uk> <a.mcrae12@imperial.ac.uk>
Andrew McRae <a.t.t.mcrae@bath.ac.uk> <dorugeber@users.noreply.github.com>
Lawrence Mitchell <lawrence.mitchell@imperial.ac.uk> <lawrence.mitchell@ed.ac.uk>
Lawrence Mitchell <lawrence.mitchell@imperial.ac.uk> <wence@gmx.li>
Kaho Sato <kahosato93@gmail.com>
Reuben W. Nixon-Hill <reuben.nixon-hill10@imperial.ac.uk> <ReubenHill@users.noreply.github.com>
