git+https://bitbucket.org/mapdes/ufl.git#egg=ufl
git+https://bitbucket.org/mapdes/fiat.git#egg=fiat
git+https://github.com:/firedrakeproject/tsfc.git#egg=tsfc
git+https://github.com/OP2/PyOP2.git#egg=pyop2
