hg+https://bitbucket.org/khinsen/scientificpython
codepy>=2013.1
git+git://github.com/inducer/pycuda.git#egg=pycuda
pyopencl>=2012.1
h5py>=2.0.0
petsc
hg+https://bitbucket.org/mapdes/petsc4py#egg=petsc4py
