cached_property
cachetools
ipython
nbval        # Testing
packaging
pkgconfig
progress
pylint       # Development
pylit        # Testing + docs
pytest       # Testing
pytest-xdist # Testing
requests
rtree>=1.2
scipy
sympy
