numpy>=1.6.1
Cython>=0.17
pytest>=2.3
flake8>=2.1.0
mpi4py
git+https://bitbucket.org/fenics-project/instant.git#egg=instant
git+https://bitbucket.org/mapdes/ufl.git#egg=ufl
git+https://bitbucket.org/mapdes/fiat.git#egg=fiat
git+https://bitbucket.org/mapdes/ffc.git@pyop2#egg=ffc
hg+https://bitbucket.org/khinsen/scientificpython
h5py>=2.0.0
petsc>=3.4
petsc4py>=3.4
