# Core build dependencies (adapted from pyproject.toml)
Cython>=3.0
libsupermesh
mpi4py>3; python_version >= '3.13'
mpi4py; python_version < '3.13'
numpy
pkgconfig
petsctools
pybind11
rtree>=1.2
setuptools>=77.0.3
setuptools-scm>=8.1

# Transitive build dependencies
hatchling
meson-python
scikit_build_core
