{%- macro stagein(arg) -%}
for (int idx = 0; idx < {{ arg.data.cdim }}; ++idx) {
    {{ arg._shared_name }}[thread_id + idx * active_threads_count] = {{ arg._name}}[thread_id + idx * active_threads_count + local_offset * {{ arg.data.cdim }}];
}

for (int idx = 0; idx < {{ arg.data.cdim }}; ++idx) {
    {{ arg._local_name() }}[idx] = {{ arg._shared_name }}[idx + thread_id * {{ arg.data.cdim }}];
}
{%- endmacro -%}

{%- macro stageout(arg) -%}
for (int idx = 0; idx < {{ arg.data.cdim }}; ++idx) {
    {{ arg._shared_name }}[idx + thread_id * {{ arg.data.cdim }}] = {{ arg._local_name() }}[idx];
}

for (int idx = 0; idx < {{ arg.data.cdim }}; ++idx) {
    {{ arg._name }}[thread_id + idx * active_threads_count + local_offset * {{ arg.data.cdim }}] = {{ arg._shared_name }}[thread_id + idx * active_threads_count];
}
{%- endmacro -%}

