<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Configuration</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/marioizquierdo/jquery.serializeJSON/master/jquery.serializejson.js"></script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>

    <style>
        .round-border{
            color: #555;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .form-horizontal, .form-group{
            padding: 8px 10px 0px 10px;
            margin-top: 8px;
        }
        .glyphicon-triangle-bottom{
            transition: transform .3s ease-in;
        }
        .glyphicon-triangle-bottom.rotate-90{
            transform: rotate(-90deg);
        }
        .form-horizonal, .control-label{
            text-align: left !important;
        }
        .panel-default{
            margin-left: -15px;
            margin-right: -15px;
            margin-top: 15px;
        }
    </style>
    <div class="container" style="max-width:730px">
        <br><br><br>
        <h1>Configurations</h1>
        {% if err is not equalto [] -%}
        <div class="alert alert-danger">
            <strong>Errors:</strong>
            <ul>
                {% for error in err -%}
                <li>{{ error }}</li>
                {%- endfor %}
            </ul>
        </div>
        {%- endif %}
        <form action="#" class="form-horizontal" method="post" enctype="multipart/form-data">
            {% macro get_name(key, prefix) -%}
                {% if prefix is equalto "" -%}{{ key }}{% else %}{{ prefix + "[" + key + "]" }}{%- endif %}
            {%- endmacro %}
            {% macro render_dictionary(parameters, prefix, summary) -%}
                {% if summary is not equalto '' -%}
                <div class="panel panel-default round-border">
                    <div class="panel-heading">
                        <p class="panel-title">Summary</p>
                    </div>
                    <div class="panel-body">
                        {% autoescape false %} {{ summary }} {% endautoescape %}
                    </div>
                </div>
                {%- endif %}
                {% for param in parameters -%}
                <div class="form-group round-border" name="{{ get_name(param.key, prefix) }}" visible_level="{{ param.visible_level }}" {% if param.depends is not equalto '' -%} depends="{{ get_name(param.depends, prefix) }}" {%- endif %}>
                        <label for="{{ param.key }}" class="col-sm-4 control-label">{{ param.key }}</label>
                        {% if (param.type is equalto "int") or (param.type is equalto "float") %}
                            <div class="col-sm-8">
                                <input type="number" {% if param.type is equalto "float" -%} step="any" {%- endif %}class="form-control" name="{{ get_name(param.key, prefix) }}">
                            </div>
                        {% elif param.type is equalto "bool" %}
                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    <input type="radio" name="{{ get_name(param.key, prefix) }}" value="True" onclick="show_input('{{ get_name(param.key, prefix) }}')">
                                        True
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="{{ get_name(param.key, prefix) }}" value="False" onclick="hide_input('{{ get_name(param.key, prefix) }}')">
                                        False
                                </label>
                            </div>
                        {% elif param.type is equalto "dict" %}
                            <script>
                                $("label[for={{ get_name(param.key, prefix) }}]").prepend('<a aria-label="toggle" onclick=\'$("#{{ get_name(param.key, prefix) }}").toggle("hidden");$(\"label[for={{ get_name(param.key, prefix) }}]\").children().children().toggleClass("rotate-90");\'><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a>&nbsp;&nbsp;')
                            </script>
                            <div class="col-sm-8">
                                <p class="control-label"><br></p>
                            </div>
                            <div id="{{ get_name(param.key, prefix) }}" class="col-sm-12">
                                {{ render_dictionary(param.value, get_name(param.key, prefix), param.summary) }}
                            </div>
                        {% else %}
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="{{ get_name(param.key, prefix) }}">
                            </div>
                        {%- endif %}
                        <p class="col-sm-8 col-sm-offset-4 help-block">{{ param.help }}</p>
                </div>
                {%- endfor %}
            {%- endmacro %}
            
            {{ render_dictionary(parameters, "", summary) }}
            <br>
            <div id="buttons" class="row" style="text-align: center">
                <button type="button" class="btn btn-default" onclick="increase_visible_level()" aria-label="Show more options">
                    Show more options
                </button>
                <button type="button" class="btn btn-default" onclick="decrease_visible_level()" aria-label="Show fewer options">
                    Show fewer options
                </button>
                <button type="button" class="btn btn-default" onclick="load_json()" aria-label="Load from JSON">
                    Load from JSON
                </button>
                <button type="button" class="btn btn-default" onclick="save_json()" aria-label="Save to JSON">
                    Save to JSON
                </button>
                <button type="button" class="btn btn-default" onclick="save()" aria-label="Save to Firedrake">
                    Save to Firedrake
                </button>
            </div>
            <br>
            <div id="load-input" class="alert alert-info hidden">
                <input type="file" accept="application/json" name="json">
                <input type="submit" class="btn btn-default">
            </div>
        </form>
    </div>
    <!-- /.container -->


    <script>
        var visible_level = 0;
        function show_input(name) {
            $('div[depends=\"' + name +'\"]').each(function(idx, elem){
                var v = $(elem).attr("visible_level");
                if (v <= visible_level) $(elem).fadeIn()
            });
        }
        function hide_input(name) {
            $('div[depends=\"' + name +'\"]').each(function(idx, elem){$(elem).fadeOut()});
        }
        function get_name(key, prefix) {
            if (prefix != "") {
                return prefix + "[" + key + "]";
            } else {
                return key;
            }
        }
        function fill_data(data, prefix) {
            $.each(data, function(key, val) {
                if (val instanceof Object) {
                    fill_data(val, get_name(key, prefix))
                } else if (val.constructor === Boolean){
                    if (val) {
                        // select "True"
                        $("input[name=\"" + get_name(key, prefix) + "\"][value=True]").prop("checked", true);
                    } else {
                        // select "False"
                        $("input[name=\"" + get_name(key, prefix) + "\"][value=False]").prop("checked", true);
                    }
                } else {
                    $("input[name=\"" + get_name(key, prefix) + "\"]").val(val);
                }
            })
        }
        function load_json() {
            $("#load-input").removeClass("hidden")
        }
        function save() {
            $.post("save", {
                'parameters': JSON.stringify($("form").serializeJSON())
            }).done(function() {
                $("#success-msg").remove();
                $("#buttons").before('<div class="alert alert-success" id="success-msg">Saved successfully to Firedrake!</div>')
            })
        }
        function save_json() {
            $.post("validate", {
                'parameters': JSON.stringify($("form").serializeJSON())
            }, function() {
                $("#errors").remove();
                $("#download-link").remove();
                var blob = new Blob([JSON.stringify($("form").serializeJSON())], {type: "application/json"});
                var url = URL.createObjectURL(blob);
                $("#buttons").before('<div class="alert alert-info" id="download-link"><a href='+url+' download="parameters.json">Download Parameters as JSON</a></div>');
            })
            .fail(function(data) {
                $("#errors").remove();
                $("#download-link").remove();
                $("#buttons").before('<div class="alert alert-danger" id="errors"><ul></ul></div>')
                $.each(data['responseJSON']['err'], function(id, err) {
                    $("#errors").find("ul").append('<li>' + err + '</li>');
                })
            })
        }
        function update_visible_level(new_level) {
            $("input[type=radio]:checked").each(function(idx, elem) { $(elem).click() })
            $("div").each(function(idx, elem) {
                var v = $(elem).attr("visible_level");
                if (new_level >= 0 && v > new_level) {
                    $(elem).fadeOut();
                } else {
                    $(elem).fadeIn();
                }
            });
        }
        function increase_visible_level() {
            visible_level++;
            $("div[visible_level=" + visible_level + "]").each(function(idx, elem) { 
                var depends = $(elem).attr("depends");
                var val = $('input[type=radio][name=' + depends + ']:checked').attr("value");
                console.log(val);
                if (val == 'True' || val == undefined) $(elem).fadeIn(); 
            });
            $("input[type=radio]:checked").each(function(idx, elem) { $(elem).click() })
        }
        function decrease_visible_level() {
            if (visible_level > 0) {
                $("div[visible_level=" + visible_level + "]").each(function(idx, elem) { $(elem).fadeOut() });
                visible_level--;
                $("input[type=radio]:checked").each(function(idx, elem) { $(elem).click() })
            }
        }
        $(document).ready(function() {
            $.get("fetch", function(data) {
                fill_data(data, "");
                update_visible_level(visible_level);
            });
            $('input').change(function() {
                var name = $(this).attr('name');
                console.log(name);
                $.post('validate', {
                    'parameters': JSON.stringify($(this).serializeJSON())
                }).fail(function() {
                    console.log($(this));
                    $("div[name='" + name + "']").removeClass("has-success");
                    $("div[name='" + name + "']").addClass("has-error");
                }).done(function() {
                    console.log($(this));
                    $("div[name='" + name + "']").addClass("has-success");
                    $("div[name='" + name + "']").removeClass("has-error");
                })
            });
        })
    </script>
</body>

</html>
