
body {
  font-family: sans-serif;
 }

h1 {
  border-style: solid;
  border-width: 1px;
  background-color: #EFE;
  padding: 1ex;
 }

div.block {
  border-style: dashed;
  border-width: 1px;
  background-color: #DDF
 }

div.block blockquote{
  margin-left: 10em;
  background-color: #EEF;
}