<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Configuration</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container" style="max-width:730px">
        <br><br><br>
        <h1>Configurations</h1>
        <form>
            {% macro get_name(key, prefix) -%}
                {% if prefix is equalto "" -%}{{ key }}{% else %}{{ prefix + "[" + key + "]" }}{%- endif %}
            {%- endmacro %}
            {% macro render_dictionary(parameters, prefix) -%}
                {% for param in parameters -%}
                <div class="form-horizontal row">
                        <label for="{{ param.key }}" class="col-sm-4 control-label">{{ param.key }}</label>
                        {% if param.type is equalto "str" -%}
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="{{ get_name(param.key, prefix) }}">
                            </div>
                        {% elif (param.type is equalto "int") or (param.type is equalto "float") %}
                            <div class="col-sm-8">
                                <input type="number" class="form-control" name="{{ get_name(param.key, prefix) }}">
                            </div>
                        {% elif param.type is equalto "bool" %}
                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    <input type="radio" name="{{ get_name(param.key, prefix) }}" value="True">
                                        True
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="{{ get_name(param.key, prefix) }}" value="False">
                                        False
                                </label>
                            </div>
                        {% elif param.type is equalto "dict" %}
                            <button type="button" class="btn btn-default btn-sm" aria-label="toggle" onclick='$("#{{ get_name(param.key, prefix) }}").toggle("hidden")'>
                                Show/Hide
                            </button>
                            <div id="{{ get_name(param.key, prefix) }}">
                                {{ render_dictionary(param.value, get_name(param.key, prefix)) }}
                                <br>
                            </div>
                        {% else %}
                            <p> Unsupported Input Type </p>
                        {%- endif %}
                </div>
                {%- endfor %}
            {%- endmacro %}
            
            {{ render_dictionary(parameters, "") }}
            <br>
            <div id="buttons" class="row" style="text-align: center">
                <button type="button" class="btn btn-default" aria-label="Load from JSON">
                    Load from JSON
                </button>
                <button type="button" class="btn btn-default" onclick="save_json()" aria-label="Save to JSON">
                    Save to JSON
                </button>
                <button type="button" class="btn btn-default" onclick="save()" aria-label="Save to Firedrake">
                    Save to Firedrake
                </button>
            </div>
        </form>
    </div>
    <!-- /.container -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/marioizquierdo/jquery.serializeJSON/master/jquery.serializejson.js">
    </script>
    <script>
        //$.getScript("https://raw.github.com/username/repo/master/src/script.js");
        function get_name(key, prefix) {
            if (prefix != "") {
                return prefix + "[" + key + "]";
            } else {
                return key;
            }
        }
        function fill_data(data, prefix) {
            $.each(data, function(key, val) {
                if (val instanceof Object) {
                    fill_data(val, get_name(key, prefix))
                } else if (val.constructor === Boolean){
                    if (val) {
                        // select "True"
                        $("input[name=\"" + get_name(key, prefix) + "\"][value=True]").prop("checked", true);
                    } else {
                        // select "False"
                        $("input[name=\"" + get_name(key, prefix) + "\"][value=False]").prop("checked", true);
                    }
                } else {
                    $("input[name=\"" + get_name(key, prefix) + "\"]").val(val);
                }
            })
        }
        function save() {
            $.post("save", {
                'parameters': JSON.stringify($("form").serializeJSON())
            }).done(function() {
                alert("Successfully saved!")
            })
        }
        function save_json() {
            $.post("validate", {
                'parameters':JSON.stringify($("form").serializeJSON())
            }, function() {
                $("#errors").remove();
                $("#download-link").remove();
                var blob = new Blob([JSON.stringify($("form").serializeJSON())], {type: "application/json"});
                var url = URL.createObjectURL(blob);
                $("#buttons").before('<div class="alert alert-info" id="download-link"><a href='+url+' download="parameters.json">Download Parameters as JSON</a></div>');
            })
            .fail(function(data) {
                $("#errors").remove();
                $("#download-link").remove();
                $("#buttons").before('<div class="alert alert-danger" id="errors"><ul></ul></div>')
                $.each(data['responseJSON']['err'], function(id, err) {
                    $("#errors").find("ul").append('<li>' + err + '</li>');
                })
            })
        }
        $(document).ready(function() {
            $.get("fetch", function(data) {
                fill_data(data, "")
            })
        })
    </script>
</body>

</html>