name: Install and Test Firedrake

on:
  # Push to master or PR
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '0 0 * * 0'
    - cron: '0 0 1 * *'  # Monthly release

concurrency:
  # Cancels jobs running if new commits are pushed
  group: >
    ${{ github.workflow }}-
    ${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  RELEASE_TAG: latest

jobs:
  test:
    name: "Run Firedrake tests (Linux)"
    runs-on: [self-hosted, Linux]
    container:
      image: firedrakeproject/firedrake-env:latest
    strategy:
      # We want to know all of the tests which fail, so don't kill real if
      # complex fails and vice-versa
      fail-fast: false
      matrix:
        include:
          - scalar-type: real
            complex: ""
            petsc_arch: default
          - scalar-type: complex
            complex: --complex
            petsc_arch: complex
    env:
      # PETSC_DIR and MPICH_DIR are set inside the docker image
      FIREDRAKE_CI_TESTS: 1
      PYOP2_CI_TESTS: 1
      PETSC_ARCH: ${{ matrix.petsc_arch }}
      OMP_NUM_THREADS: 1
      OPENBLAS_NUM_THREADS: 1
      COMPLEX: ${{ matrix.complex }}
      RDMAV_FORK_SAFE: 1
      EXTRA_PYTEST_ARGS: --splitting-algorithm least_duration --timeout=1800 --timeout-method=thread -o faulthandler_timeout=1860 tests/firedrake
      PYOP2_SPMD_STRICT: 1
    steps:
      - uses: actions/checkout@v4

      - name: Cleanup
        if: ${{ always() }}
        run: |
          cd ..
          rm -rf firedrake_venv

      - name: Build Firedrake
        run: |
          cd ..
          # Linting should ignore unquoted shell variable $COMPLEX
          # shellcheck disable=SC2086
          ./firedrake/scripts/firedrake-install \
            $COMPLEX \
            --honour-petsc-dir \
            --mpicc="$MPICH_DIR"/mpicc \
            --mpicxx="$MPICH_DIR"/mpicxx \
            --mpif90="$MPICH_DIR"/mpif90 \
            --mpiexec="$MPICH_DIR"/mpiexec \
            --mpihome="$MPICH_DIR"/.. \
            --venv-name firedrake_venv \
            --no-package-manager \
            --disable-ssh \
            --documentation-dependencies \
            --torch \
            --jax \
            --netgen \
            --slepc \
            --install thetis \
            --install gusto \
            --install icepack \
            --install irksome \
            --install femlium \
            --install fascd \
            --install defcon \
            --install gadopt \
            --install asQ \
            || (cat firedrake-install.log && /bin/false)

      - name: Install test dependencies
        id: build
        run: |
          sudo apt update
          sudo apt -y install parallel
          . ../firedrake_venv/bin/activate
          firedrake-clean
          python -m pip install pytest-timeout ipympl pytest-split pytest-xdist
          python -m pip list

      - name: Run tests (nprocs = 1)
        run: |
          : # Use pytest-xdist here so we can have a single collated output (not possible
          : # for parallel tests)
          . ../firedrake_venv/bin/activate
          firedrake-run-split-tests 1 1 "-n 12 $EXTRA_PYTEST_ARGS --junit-xml=firedrake1_{#}.xml"

      - name: Run tests (nprocs = 2)
        # Run even if earlier tests failed
        if: ${{ success() || steps.build.conclusion == 'success' }}
        run: |
          . ../firedrake_venv/bin/activate
          firedrake-run-split-tests 2 6 "$EXTRA_PYTEST_ARGS --junit-xml=firedrake2_{#}.xml"

      - name: Run tests (nprocs = 3)
        if: ${{ success() || steps.build.conclusion == 'success' }}
        run: |
          . ../firedrake_venv/bin/activate
          firedrake-run-split-tests 3 4 "$EXTRA_PYTEST_ARGS --junit-xml=firedrake3_{#}.xml"

      - name: Run tests (nprocs = 4)
        if: ${{ success() || steps.build.conclusion == 'success' }}
        run: |
          . ../firedrake_venv/bin/activate
          firedrake-run-split-tests 4 3 "$EXTRA_PYTEST_ARGS --junit-xml=firedrake4_{#}.xml"

      - name: Run tests (nprocs = 5)
        if: ${{ success() || steps.build.conclusion == 'success' }}
        run: |
          . ../firedrake_venv/bin/activate
          firedrake-run-split-tests 5 2 "$EXTRA_PYTEST_ARGS --junit-xml=firedrake5_{#}.xml"

      - name: Run tests (nprocs = 6)
        if: ${{ success() || steps.build.conclusion == 'success' }}
        run: |
          . ../firedrake_venv/bin/activate
          firedrake-run-split-tests 6 2 "$EXTRA_PYTEST_ARGS --junit-xml=firedrake6_{#}.xml"

      - name: Run tests (nprocs = 7)
        if: ${{ success() || steps.build.conclusion == 'success' }}
        run: |
          . ../firedrake_venv/bin/activate
          firedrake-run-split-tests 7 1 "$EXTRA_PYTEST_ARGS --junit-xml=firedrake7_{#}.xml"

      - name: Run tests (nprocs = 8)
        if: ${{ success() || steps.build.conclusion == 'success' }}
        run: |
          . ../firedrake_venv/bin/activate
          firedrake-run-split-tests 8 1 "$EXTRA_PYTEST_ARGS --junit-xml=firedrake8_{#}.xml"

      - name: Test pyadjoint
        if: (success() || steps.build.conclusion == 'success') && matrix.scalar-type == 'real'
        run: |
          . ../firedrake_venv/bin/activate
          cd ../firedrake_venv/src/pyadjoint
          python -m pytest \
            --strict-markers \
            --durations=200 \
            --timeout=600 \
            --timeout-method=thread \
            -o faulthandler_timeout=660 \
            -n 12 --dist worksteal \
            -sv tests/firedrake_adjoint
        timeout-minutes: 5

      - name: Run Gusto smoke tests
        # Only test Gusto in real mode
        if: (success() || steps.build.conclusion == 'success') && matrix.scalar-type == 'real'
        run: |
          . ../firedrake_venv/bin/activate
          cd ../firedrake_venv/src/gusto
          python -m pytest -n 12 -v \
            integration-tests/balance/test_saturated_balance.py \
            integration-tests/equations/test_thermal_sw.py \
            integration-tests/transport/test_embedded_dg_advection.py
        timeout-minutes: 5

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5.0.0-a02
        # To avoid permissions issues do not run with forked repos
        # (see https://github.com/mikepenz/action-junit-report/issues/23)
        if: ${{ always() && (github.ref != 'refs/heads/master') && (github.event.pull_request.head.repo.full_name == github.repository) }}
        with:
          report_paths: 'firedrake*.xml'
          comment: true
          check_name: "Firedrake ${{ matrix.scalar-type }}"
          updateComment: true
          flaky_summary: true

      - name: Upload log files
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: firedrake-logs-${{ matrix.scalar-type }}
          path: pytest_*.log

      - name: Cleanup
        # Belt and braces: clean up before and after the run.
        if: ${{ always() }}
        run: |
          cd ..
          rm -rf firedrake_venv

  docker_tag:
    name: "Set the Docker release tag"
    runs-on: [self-hosted, Linux]
    if: ${{ github.ref == 'refs/heads/master' }}
    steps:
      - name: Set release tag
        # Set a release tag if triggered by monthly CRON job
        if: github.event.schedule == '0 0 1 * *'
        run: |
          DATE_TAG="$(date +%Y-%m)"
          echo "RELEASE_TAG=$DATE_TAG" >> "$GITHUB_ENV"
      - name: Print release tag being used
        run: |
          echo The release tag is "$RELEASE_TAG"
    outputs:
      tag: ${{ env.RELEASE_TAG }}

  docker:
    name: "Build Docker containers"
    # Only run on master, but always generate firedrake-env image,
    # even if build fails (see docker.yml)
    if: ${{ (github.ref == 'refs/heads/master') && always() }}
    needs: [test, docker_tag]
    uses: ./.github/workflows/docker.yml
    with:
      tag: ${{ needs.docker_tag.outputs.tag }}
      status: ${{ needs.test.result }}
    secrets: inherit
