name: Build and push Docker images

on:
  workflow_call:
    inputs:
      tag:
        description: Docker image tag
        type: string
    secrets:
      # Docker login information
      DOCKERHUB_USER:
        required: true
      DOCKERHUB_TOKEN:
        required: true

jobs:
  # Firedrake container (just Firedrake)
  docker_build_vanilla:
    strategy:
      fail-fast: false
      matrix:
        os: [Linux, macOS]
        arch: [default, complex]
        include:
          - os: Linux
            platform: linux/amd64
          - os: macOS
            platform: linux/arm64
    uses: ./.github/workflows/docker_build.yml
    with:
      os: ${{ matrix.os }}
      platform: ${{ matrix.platform }}
      arch: ${{ matrix.arch }}
      target: firedrake-vanilla-${{ matrix.arch }}
      tag: ${{ inputs.tag }}
      dockerfile: docker/Dockerfile.vanilla
    secrets: inherit

  docker_merge_vanilla:
    needs: docker_build_vanilla
    strategy:
      fail-fast: false
      matrix:
        arch: [default, complex]
    uses: ./.github/workflows/docker_merge.yml
    with:
      target: firedrake-vanilla-${{ matrix.arch }}
      tag: ${{ inputs.tag }}
    secrets: inherit

  # # Firedrake container (Firedrake and friends)
  docker_build_firedrake:
    needs: docker_merge_vanilla
    uses: ./.github/workflows/docker_build.yml
    # Only build the 'firedrake' container for 'linux/amd64' because
    # VTK (https://gitlab.kitware.com/vtk/vtk/-/issues/18772) and
    # netgen-mesher do not have ARM wheels so many Firedrake apps cannot
    # be installed.
    with:
      os: Linux
      platform: linux/amd64
      target: firedrake
      tag: ${{ inputs.tag }}
      dockerfile: docker/Dockerfile.firedrake
    secrets: inherit

  docker_merge_firedrake:
    uses: ./.github/workflows/docker_merge.yml
    needs: docker_build_firedrake
    with:
      target: firedrake
      tag: ${{ inputs.tag }}
    secrets: inherit

  # # Firedrake container with TeX
  docker_build_docdeps:
    needs: docker_merge_vanilla
    uses: ./.github/workflows/docker_build.yml
    with:
      os: Linux
      platform: linux/amd64
      target: firedrake-docdeps
      tag: ${{ inputs.tag }}
      dockerfile: docker/Dockerfile.docdeps
    secrets: inherit

  docker_merge_docdeps:
    uses: ./.github/workflows/docker_merge.yml
    needs: docker_build_docdeps
    with:
      target: firedrake-docdeps
      tag: ${{ inputs.tag }}
    secrets: inherit

  # # Firedrake container with Jupyter notebooks
  docker_build_jupyter:
    needs: docker_merge_firedrake
    uses: ./.github/workflows/docker_build.yml
    with:
      os: Linux
      platform: linux/amd64
      target: firedrake-jupyter
      tag: ${{ inputs.tag }}
      dockerfile: docker/Dockerfile.jupyter
    secrets: inherit

  docker_merge_jupyter:
    uses: ./.github/workflows/docker_merge.yml
    needs: docker_build_jupyter
    with:
      target: firedrake-jupyter
      tag: ${{ inputs.tag }}
    secrets: inherit
