name: Check docs build cleanly

on:
  # Run on pushes to master
  push:
    branches:
      - master
  # And all pull requests
  pull_request:


jobs:
  build:
    name: "Run doc build"
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # The docker container to use.
    container:
      image: firedrakeproject/firedrake-vanilla:latest
      options: --user root
    # Steps represent a sequence of tasks that will be executed as
    # part of the jobs
    steps:
      - uses: actions/checkout@v2
      - name: System dependencies
        run: |
          apt-get update --fix-missing
          apt-get -y dist-upgrade
          apt-get -y install inkscape texlive-full
      - name: Install
        run: |
          . /home/firedrake/firedrake/bin/activate
          python -m pip install -e .
          python -m pip install sphinx
          python -m pip install sphinxcontrib-bibtex
          python -m pip install sphinxcontrib-svg2pdfconverter
          python -m pip install bibtexparser
          python -m pip install numpydoc
          python -m pip install git+https://github.com/sphinx-contrib/youtube.git
      - name: Check bibtex
        run: |
          . /home/firedrake/firedrake/bin/activate
          cd docs
          firedrake-preprocess-bibtex --validate source/_static/bibliography.bib
          firedrake-preprocess-bibtex --validate source/_static/firedrake-apps.bib
          firedrake-preprocess-bibtex --validate source/_static/references.bib
      - name: Build docs
        run: |
          . /home/firedrake/firedrake/bin/activate
          cd docs
          make linkcheck
          make html
          make latex
          make latexpdf
