name: Check docs build cleanly

on:
  # Run on pushes to master
  push:
    branches:
      - master
  # And all pull requests
  pull_request:


jobs:
  build_docs:
    name: Run doc build
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # The docker container to use.
    container:
      image: firedrakeproject/firedrake-vanilla:latest
      options: --user root
      volumes:
        - ${{ github.workspace }}:/home/firedrake/output
    # Steps represent a sequence of tasks that will be executed as
    # part of the jobs
    steps:
      - uses: actions/checkout@v2
      - name: System dependencies
        run: |
          apt-get update --fix-missing
          apt-get -y dist-upgrade
          apt-get -y install inkscape texlive-full
      - name: Install
        run: |
          . /home/firedrake/firedrake/bin/activate
          python -m pip install -e .
          python -m pip install sphinx
          python -m pip install sphinxcontrib-bibtex
          python -m pip install sphinxcontrib-svg2pdfconverter
          python -m pip install sphinxcontrib-jquery
          python -m pip install bibtexparser
          python -m pip install numpydoc
          python -m pip install git+https://github.com/sphinx-contrib/youtube.git
      - name: Check bibtex
        run: |
          . /home/firedrake/firedrake/bin/activate
          cd docs
          firedrake-preprocess-bibtex --validate source/_static/bibliography.bib
          firedrake-preprocess-bibtex --validate source/_static/firedrake-apps.bib
          firedrake-preprocess-bibtex --validate source/_static/references.bib
      - name: Check documentation links
        if: ${{ github.ref == 'refs/heads/master' }}
        run: |
          . /home/firedrake/firedrake/bin/activate
          cd docs
          make linkcheck
      - name: Build docs
        run: |
          . /home/firedrake/firedrake/bin/activate
          cd docs
          make html
          make latex
          make latexpdf
      - name:  Copy manual to HTML tree
        run: |
          cd docs
          cp build/latex/Firedrake.pdf build/html/_static/manual.pdf
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          name: github-pages
          path: /__w/firedrake/firedrake/docs/build/html
          retention-days: 1
  deploy:
    name: Deploy Github pages
    needs: build_docs
    #if: ${{ github.ref == 'refs/heads/JDBetteridge/rejig_actions' }} #change to master
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: http://firedrakeproject.github.io/firedrake
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
