# Checks DOI resolution, testing if Zenodo's REST API has changed
name: Run Zenodo canary

on:
  # Push to master or PR
  push:
    branches:
      - master
  pull_request:

jobs:
  zenodo_canary:
    name: "Run zenodo canary"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install deps
        run: |
          pip install requests packaging
      - name: Zenodo API canary
        run: |
          python scripts/firedrake-install --test-doi-resolution
      - name: Upload log
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: "zenodo-canary"
          path: firedrake-install.log
