# Checks DOI resolution, testing if Zenodo's REST API has changed
name: Zenodo canary

on:
  # Push to master or PR
  push:
    branches:
      - master
  pull_request_target:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install deps
        run: |
          pip install requests
      - name: Zenodo API canary
        run: |
          python scripts/firedrake-install --test-doi-resolution
      - name: Upload log
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: "zenodo-canary"
          path: firedrake-install.log
